.HeroBanner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.background {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.foreground {
  width: 100%;
  max-width: 800px;
  z-index: 1;
}

/* "we are shaats!" Image */
.title {
  position: absolute;
  z-index: 2;
}
